<h1>{{name}}</h1>
<p><strong>年龄：</strong>{{age}}</p>
<p><strong>地址：</strong>{{address.street}},{{address.city}},{{address.state}}</p>
<p><strong>兴趣：</strong></p>
<ul *ngIf="hobbies">
  <p>下面是兴趣列表</p>
  <li *ngFor="let hobby of hobbies;let i=index;">
    {{hobby}}
    <button (click)="deleteHobby(i)">X</button>
  </li>
  <p>兴趣列表展示完毕</p>
</ul>
<form (submit)="addHobby(hobby.value);hobby.value=''">
  <label>添加兴趣：</label>
  <!-- 此处添加(keyup)="0"， 只有在应用做了些异步事件（如击键），Angular 才更新绑定（并最终影响到屏幕）。本例代码将keyup事件绑定到了数字0，这是可能是最短的模板语句。
  虽然这个语句不做什么，但它满足 Angular 的要求，所以 Angular 将更新屏幕。-->
  <input type="text" #hobby (keyup)="0"/><br/>
  <h1>==========</h1>
  <p>{{hobby.value}}</p>
</form><br/>

<form>
  <input type="text" name="name" [(ngModel)]="name"/><br/>
  <input type="text" name="age" [(ngModel)]="age"/><br/>
  <input type="text" name="address.street" [(ngModel)]="address.street"/><br/>
  <input type="text" name="address.city" [(ngModel)]="address.city"/><br/>
  <input type="text" name="address.state" [(ngModel)]="address.state"/><br/>
</form>
<hr/>

<button md-button>FLAT</button>
<button md-raised-button>RAISED</button>
<button md-fab>
  <md-icon class="md-24">add</md-icon>
</button>
<button md-mini-fab>
  <md-icon class="md-24">add</md-icon>
</button>
<hr/>

<button md-raised-button color="primary">PRIMARY</button>
<button md-raised-button color="accent">ACCENT</button>
<button md-raised-button color="warn">WARN</button>
<hr/>

<button md-button disabled>OFF</button>
<button md-raised-button [disabled]="isDisabled">OFF</button>
<button md-mini-fab [disabled]="isDisabled"><md-icon>check</md-icon></button>

